.button-new-loan {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #9aa6b2;
  color: #f8fafc;
}

.title {
  color: #bcccdc;
}

.container {
  background-color: #d9eafd;
}
